// menu button

.menu-btn{
    position: fixed;
    z-index: 3;
    top: 35px;
    right: 35px;
    cursor: pointer;
    float: right;
    @include eseout;
    
    .btn-line{
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #ffffff;
        @include eseout;
    }
    
    //rotate the menu btn
    
    &.close{
        transform: rotate(180deg);
        
        .btn-line{
            &:nth-child(1){
                background: $sec-color;
                transform: translate(5px, 5px) rotate(45deg)
            }
            
            &:nth-child(2){
                opacity: 0;
            }
            
            &:nth-child(3){
                background: $third-color;
                transform: rotate(-45deg) translate(10px, -5px)
            }
            
        }
    }
}